@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: rgb(41, 46, 41);
    color: white;
}
:root{
    --primary-color: #6C63FF;
    --off-white: #F3F4F6;
}


/* common part for all section */
.navigation{
    background-color: var(--primary-color);
    padding: 1.5rem 1rem;
}
.list-inline{
    display: inline;
    padding: 0.5rem;
}
.list {
    text-decoration: none;
    color:var(--off-white);
}
.list-non-bullets {
    padding-inline-start: 0px;
}
.link-active{
    font-weight: bolder;
}
/* last */
header{
    max-width: 600px;
    margin: auto;

}
#main-title{
    text-align: center;
}
#first-para{
    text-align: center;
    padding: 1rem;
    font-size: larger;
    border: 2px solid var(--primary-color);
    margin: 1rem -1rem 1rem 3rem;
}
label{
    width: 100%;
    margin: 0rem 0rem 0rem 2rem;
}
input{
    width: 100%;
    padding: 1rem;
    background-color: var(--off-white);
    border: none;
    margin: 1rem;
}
input:focus{
    outline:2px solid #6C63FF;
}
#check-btn{
    width: 100%;
    padding: 1rem 1rem;
    margin: 0rem 0rem 0rem 2rem;
    background-color: var(--primary-color);
    color: var(--off-white);
    font-size: large;
    border: none;
}
.output{
    display: none;
    font-size:larger;
    font-weight: bolder;
    text-align: center;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    margin: 2rem 0rem 3rem 4rem;
}
.footer {
    margin-top: 2rem;
    color: white;
    padding: 1rem;
}
.txt-footer {
    text-align: center;
}
